[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "toodetest"
version = "0.4.0"
authors = [
  { name="Thibault Jaigu", email="thibault.jaigu@gmail.com" },
]
description = "A small example package"
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.urls]
"Homepage" = "https://github.com/Thibault00/toodetest"
"Bug Tracker" = "https://github.com/Thibault00/toodetestissues"